/* [SECTION] Header */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    padding: 24px 56px;
    border-bottom: 2px solid #d5d5d5;
}

.logo-banner-div {
    display: flex;
    height: 100%;
    padding: 0;
}

#header-left-container {
    display: flex;
    gap: 0 64px;
}

.header-btns {
    display: flex;
    align-items: center;
    gap: 54px;
}

/* Navigation Links */
.header-links {
    display: flex;
    align-items: center;
    min-width: 320px;
    gap: 32px;
}

/* Auth Buttons */
#auth-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    height: 100%;
}

.header-profile-container {
    position: relative;
    cursor: pointer;
}

.header-profile-container .profile-placeholder-icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

/* [SECTION] Search Results */
.search-results-container {
    padding: 40px 48px;
    max-width: 1400px;
    margin: 0 auto;
}

.results-title {
    margin-bottom: 8px;

    p {
        font-family: var(--body);
        /* font-weight: 600; */
        font-size: 22px;
        letter-spacing: 1%;
    }
}

.filters-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.filter-buttons {
    display: flex;
    gap: 0 32px;
}

.filter-btn {
    padding: 8px 17px;
    border: 2px solid var(--primary);
    background: var(--background);
    border-radius: 8px;
    cursor: pointer;
    font-family: var(--body-font);
    font-size: 17px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
}

.filter-btn:hover {
    background: #f5f5f5;
}

.sort-section {
    font-size: 17px;
    color: #666;
}

.sort-section strong {
    color: var(--primary);
}

.results-count {
    margin-bottom: 30px;
    font-size: 17px;
    color: #666;
}

.results-count p {
    margin: 0;
}

/* [COMPONENT] Search Bar */
#search-bar-container {
    display: flex;
    width: 640px;
    height: 40px;

    border: 2px solid var(--primary);
    border-radius: 4px;
    overflow: hidden;
}

#search-bar-container.rounded {
    border-radius: 12px;
}

#search-bar {
    font-family: var(--body);
    font-weight: 400;
    font-size: 13px;
    line-height: 32;
    letter-spacing: 1.5%;
    color: var(--text);

    width: 100%;
    height: 100%;
    
    border: none;
    border-radius: 0;

    padding: 12px 14px;
}

#search-button {
    background-color: var(--primary);

    width: 40px;
    height: 100%;

    border: none;
    border-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;

    cursor: pointer;
}