@import url('styles.css');
/* [COMPONENT] Primary Button */
.primary-btn {
    font-family: var(--header);
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 1%;

    width: 100%;
    height: 44px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--background);
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    background-color: var(--primary);

    cursor: pointer;
    
    transition: background-color 0.2s ease;
}

.primary-btn:hover {
    background-color: var(--secondary);
}

.primary-btn .btn-icon {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    vertical-align: middle;
}