.rating {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 17px;
}

.rating-star {
    width: 14px;
    margin-top: 2px;
    margin-right: 2px;
}

.rating-value {
    font-weight: 600;
    color: var(--primary);
}

.rating-count {
    color: #999;
}

/* [SECTION] Ratings */
#trust-content-container {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--header);
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    line-height: 32px;
    letter-spacing: 1%;

    margin: 40px 0 64px 0;

    #star-icon {
    color: var(--secondary);
    }
}

.profile-placeholder-icon {
    width: 40px;
}