.rating {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 13px;
}

.rating-star {
    width: 16px;
    margin-top: -1px;
    /* margin-right: 2px; */
}

.rating-value {
    font-weight: 600;
    color: var(--primary);
}

.rating-count {
    color: #999;
}

.profile-placeholder-icon {
    width: 40px;
}