/* [SECTION] Search Results */
.search-results-container {
    padding: 40px 48px;
    max-width: 1400px;
    margin: 0 auto;
}

.results-title {
    margin-bottom: 8px;

    p {
        font-family: var(--body);
        /* font-weight: 600; */
        font-size: 22px;
        letter-spacing: 1%;
    }
}

.filters-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.filter-buttons {
    display: flex;
    gap: 0 32px;
}

.filter-btn {
    padding: 8px 17px;
    border: 2px solid var(--primary);
    background: var(--background);
    border-radius: 8px;
    cursor: pointer;
    font-family: var(--body-font);
    font-size: 17px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
}

.filter-btn:hover {
    background: #f5f5f5;
}

.sort-section {
    font-size: 17px;
    color: #666;
}

.sort-section strong {
    color: var(--primary);
}

.results-count {
    margin-bottom: 30px;
    font-size: 17px;
    color: #666;
}

.results-count p {
    margin: 0;
}